<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="test_areacode_command" xsi:type="object">CertificationPrep\AreaCode\Console\Command\NullAreaCodeInCLI</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Framework\App\AreaList">
        <arguments>
            <argument name="areas" xsi:type="array">
                <item name="customarea" xsi:type="null"/>
<!--                <item name="customarea" xsi:type="array">-->
<!--                    <item name="frontNameResolver" xsi:type="string">Magento\Backend\App\Area\FrontNameResolver</item>-->
<!--                    <item name="router" xsi:type="string">admin</item>-->
<!--                    <item name="frontName" xsi:type="string">admin</item>-->
<!--                </item>-->
            </argument>
        </arguments>
    </type>

</config>
