<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="CertificationPrep\AreaCode\Model\TestModel">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="associative_array" xsi:type="array">
                    <item name="first" xsi:type="string">from ADMINHTML area</item>
                    <item name="second" xsi:type="string">from ADMINHTML area</item>
                    <item name="third" xsi:type="array">
                        <item name="associative_array" xsi:type="array">
                            <item name="first" xsi:type="string">from ADMINHTML area</item>
                            <item name="second" xsi:type="string">from ADMINHTML area</item>
                        </item>
                    </item>
                </item>
            </argument>
        </arguments>
    </type>
</config>
